<footer class="footer">
    <div class="columns container">
        <a class="column has-text-centered" href="/">
            トップ
        </a>
        <a class="column has-text-centered" href="https://wannabe-syokutaku.osumiakari.jp/">
            みんなの食卓へ向かう
        </a>
        <a href="https://www.xn--2kr713n.xn--q9jyb4c">
            その他のみんなの食卓
        </a>
    </div>
    <hr>
    <p>みんなの食卓でありたい。 by <a href="https://www.osumiakari.jp">Osumi Akari</a>（<a href="https://c.osumiakari.jp/@oageo">@oageo@c.osumiakari.jp</a>）。</p>
    <p><a href="https://github.com/oageo/wannabe-syokutaku">ソースコードはGitHub</a>上に置いてあります。MITライセンスです。</p>
    <p>このサイトは、<a href="https://www.matsuyafoods.co.jp/">株式会社松屋フーズ</a>様とは無関係です。</p>
</footer>