<div class="hero-foot">
    <div class="columns is-centered">
        <a href="https://www.matsuyafoods.co.jp/" id="mtybtn" class="column button is-large m-6">
            <span class="title">松屋</span>
        </a>
    </div>
</div>

<style>
#mtybtn {
    background: #fddd4c;
    color: #014096;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    transition-delay: 2s;}
#mtybtn.fade-in {
    opacity: 1;
}
</style>

<script>
    window.addEventListener('load', function() {
        document.getElementById('mtybtn').classList.add('fade-in');
    });
</script>